<!-- views/add.erb -->
<!DOCTYPE html>
<html>
	<head>
		<title>Addition Result</title>
	</head>
	<body>
		<h1>Addition Result</h1>

		<p>The addition of @first_number and @second_number is @result"</p>
	</body>
</html>