<!-- views/division_result.erb -->
<!DOCTYPE html>
<html>
	<head>
		<title>Division Result</title>
	</head>
	<body>
		<h1>Division Result</h1>

		<p>The Division of @first_number by @second_number is @result"</p>
	</body>
</html>