<!-- views/multiplication_result.erb -->
<!DOCTYPE html>
<html>
	<head>
		<title>Multiplication Result</title>
	</head>
	<body>
		<h1>Multiplication Result</h1>

		<p>The Multiplication of @first_number and @second_number is @result"</p>
	</body>
</html>