<!-- views/subtraction_result.erb -->
<!DOCTYPE html>
<html>
	<head>
		<title>Subtraction Result</title>
	</head>
	<body>
		<h1>Subtraction Result</h1>

		<p>The subtraction of @second_number from @first_number is @result"</p>
	</body>
</html>