.blue
{background-color: blue;
}
#red
{background-color: red}
.green
{background-color: green;
}
.box
{margin: 10px;
}
div.blue
{border: 5px solid red;
}
div#red
{border: 5px solid blue;
}
h3.direction
{padding: 20%;
}
#top
{
	position: absolute;
	top:350;
	left:350;

}
#bottom
{
	position: absolute;
	top:400;
	left:500;

}