body {
	width: 1000px;
	height: 1000px;
	align-self: center;
}
header {
	width: 100%;
	height: 100px;
	text-align: center;
	vertical-align: middle; 
}
footer {
	width: 100%;
	height: 100px;
	text-align: center;
	vertical-align: bottom; 
}

article {
	width: 440px;
	height: 600px;
	float: right;
	padding: 30px;
}
aside {
	width: 440px;
	height: 600px;
	padding: 30px;
}
section {
	width: 940px;
	height: 300px;
	padding: 30px;
}
nav.filmlist{
	width: 940px;
	height: 50px;
}
ul {
	margin: 0px;
	padding: 0px;

}
li {
	display: inline;
	padding: 0px 20px;
}
p.subtitle {align-content: center}