<! - views/new_post.erb ->

<link rel="stylesheet" href="/styles.css">

<h1>Enter a new post: </h1>
<form method="post" action="/add_post">
	<input type="text" name="post_title" placeholder="Post Title">
	<input type="text" name="post_text" placeholder="Post Text">
	<input type="text" name="post_category" placeholder="Post Category">
	<input type="text" name="post_author" placeholder="Post Author">
	<button type="submit">
		Add post
	</button>
</form
