<! -- view/about.erb -- >

<h1> About us </h1>

<p>We are disrupting the Sinatra industry. We have great synergy with all other B2B businesses</p>

<h2> Here are our values: </h2>

<ul>
<li> Synergy </li>
<li> B2B </li>
<li> Disruption </li>
<li> Ping pong </li>
<li> Cornhole </li>
</ul>