<! - views/pizza.erb ->

<link rel="stylesheet" href="/styles.css">

<h1> Our Leaders</h1>

<p> Pound for pound, the best leadership in the world@</p>

<li>
	<h2>Charizard</h2>
	<h3>Chief Fire Officer</h3>
	<h2>Captain Jack Sparrow</h2>
	<h3>Captain of the Company</h3>
</li>
	