<h1> Movie Trivia </h1>

<p>Enter a word or phrase to search for:</p>

<form method="get" action="/results">
	<input type="text" name="search_phrase" placeholder="Search word or phrase">
	<button type="submit">Search</button>
</form>
