
.profileimage {
	background-image: url('../images/profileimage.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
}
.btn-default {
    background-color: #fff;
    color: #888888;
    border-style: none;
    font-size: 85%;
}
.btn-default input[type="text"], textarea  {
	background-color: #fff;
	border-style: none;
}
.header-row {
	background-color: rgba(47, 119, 225, 0.3)
	font-color: white;

}
.left-controls {
	display: inline;
}
.right-controls {
	display: inline;
	float: right;
}
.twitter-logo-container {
	text-align: center;	
	top: 5px;
}
.twitter-logo {
	width: 15%;
	opacity: 0.6;
}
.profilecontainer {
	position: relative;
	left: 50px;
	top: -100px;
}
.tweetscontainer {
	position: relative;
	left: 50px;
}
.tweetsheader {
	font-size: 150%;
}

.tweeticon {
	width: 50px;
	border-radius: 5px;
}
.profilepicture {
	width: 70%;
	border-radius: 25px;
	border: 5px solid white;

}
.profilecounts {
	position: relative;
	left: 50px;
}
.profiletitle {
	font-size: 160%;
	margin: 0px;
}
.ironhackimages {
	width: 90px;
	hight: 90px;
}
.glyphicon-user {
	color: #1DA1F2;
}
.followbutton {
	float: right;
	top: 10px;
	
}
.postheading {
	display: inline;
	
}
.thetweet {
	font-size: 150%;
}
.tweetimage {
	width: 450px;
}


